@import "tailwindcss";

@theme {
  --color-background: black;
  --color-text: white;
  --color-accent: purple;
  --color-background-secondary: #aaa;
  --color-text-secondary: #eee;

  --color-chat-agent: #666666;
  --color-chat-user: #222222;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

