@import "tailwindcss";

@theme {
  --color-background: white;
  --color-text: black;
  --color-accent: #88ab97;
  --color-text-accent: white;
  --color-background-secondary: #efefef;
  --color-text-secondary: #eee;

  --color-background-code: #333;
  --color-text-code: white;

  --color-chat-agent: #dedede;
  --color-chat-user: #efefef;
}

/* dark theme override */
[data-theme="dark"] {
  --color-background: #111;
  --color-text: #eee;
  --color-accent: #88ab97;
  --color-text-accent: white;
  --color-background-secondary: #1a1a1a;
  --color-text-secondary: #ccc;

  --color-background-code: #222;
  --color-text-code: #ddd;

  --color-chat-agent: #222;
  --color-chat-user: #333;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.lora {
  font-family: Lora;
}

.work {
  font-family: "Work Sans", sans-serif;
}
