@import "tailwindcss";

@theme {
  --color-background: white;
  --color-text: black;
  --color-accent: #88ab97;
  --color-text-accent: white;
  --color-background-secondary: #efefef;
  --color-text-secondary: #eee;

  --color-chat-agent: #dedede;
  --color-chat-user: #efefef;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.lora {
  font-family: Lora;
}

.work {
  font-family: "Work Sans";
}
